.mookie-container {
	background-color: #FFFFFF; /* Fallback */
	background-color: rgba(255,255,255,0.9);
	color: #666666;
	font-size: 95%;
}

.mookie-container a {
	color: #1A5672;
	opacity: 1;
	text-decoration: none;
}

.mookie-button.mookie-accept {
	background-color: #1A5672;
	color: white;
}

.mookie-button.mookie-decline {
	border: 2px solid #1A5672;
	color: #1A5672;
}

.mookie-container {
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
	padding: 15px 30px;
	z-index: 1000;
}

.mookie-container.mookie-overlay {
	position: fixed;
	left: 0;
}

.mookie-container.mookie-static {
	position: static;
	overflow: hidden;
	display: block;
}

@keyframes slideDownFromTop {
	0% {
		-ms-transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	100% {
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes slideUpFromTop {
	0% {
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-ms-transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}

@keyframes slideUpFromBottom {
	0% {
		-ms-transform: translateY(100%);
		-webkit-transform: translateY(100%);
		-moz-transform: translateY(100%);
		-o-transform: translateY(100%);
		transform: translateY(100%);
	}
	100% {
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes slideDownFromBottom {
	0% {
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-ms-transform: translateY(100%);
		-webkit-transform: translateY(100%);
		-moz-transform: translateY(100%);
		-o-transform: translateY(100%);
		transform: translateY(100%);
	}
}

@keyframes moveDownFromTop {
	0% {
		padding: 0 30px 0 30px;
		max-height: 0;
	}
	100% {
		padding: 15px 30px 15px 30px;
		max-height: 400px;
	}
}

@keyframes moveUpFromTop {
	0% {
		padding: 15px 30px 15px 30px;
		max-height: 400px;
	}
	100% {
		padding: 0 30px 0 30px;
		max-height: 0;
	}
}

.mookie-container.mookie-overlay.mookie-top {
	top: 0;
	-ms-animation: 1s cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s 1 slideDownFromTop;
	-webkit-animation: 1s cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s 1 slideDownFromTop;
	-o-animation: 1s cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s 1 slideDownFromTop;
	-moz-animation: 1s cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s 1 slideDownFromTop;
	animation: 1s cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s 1 slideDownFromTop;
}

.mookie-container.mookie-overlay.mookie-top-back {
	top: 0;
	-ms-animation: 1s cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s 1 forwards slideUpFromTop;
	-webkit-animation: 1s cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s 1 forwards slideUpFromTop;
	-o-animation: 1s cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s 1 forwards slideUpFromTop;
	-moz-animation: 1s cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s 1 forwards slideUpFromTop;
	animation: 1s cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s 1 forwards slideUpFromTop;
}

.mookie-container.mookie-overlay.mookie-bottom {
	bottom: 0;
	-ms-animation: 1s cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s 1 slideUpFromBottom;
	-webkit-animation: 1s cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s 1 slideUpFromBottom;
	-o-animation: 1s cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s 1 slideUpFromBottom;
	-moz-animation: 1s cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s 1 slideUpFromBottom;
	animation: 1s cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s 1 slideUpFromBottom;
}

.mookie-container.mookie-overlay.mookie-bottom-back {
	bottom: 0;
	-ms-animation: 1s cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s 1 forwards slideDownFromBottom;
	-webkit-animation: 1s cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s 1 forwards slideDownFromBottom;
	-o-animation: 1s cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s 1 forwards slideDownFromBottom;
	-moz-animation: 1s cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s 1 forwards slideDownFromBottom;
	animation: 1s cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s 1 forwards slideDownFromBottom;
}

.mookie-container.mookie-static.mookie-top, .mookie-container.mookie-static.mookie-bottom {
	-ms-animation: 1s ease 0s 1 moveDownFromTop;
	-webkit-animation: 1s ease 0s 1 moveDownFromTop;
	-o-animation: 1s ease 0s 1 moveDownFromTop;
	-moz-animation: 1s ease 0s 1 moveDownFromTop;
	animation: 1s ease 0s 1 moveDownFromTop;
}

.mookie-container.mookie-static.mookie-top-back, .mookie-container.mookie-static.mookie-bottom-back {
	-ms-animation: 1s ease 0s 1 forwards moveUpFromTop;
	-webkit-animation: 1s ease 0s 1 forwards moveUpFromTop;
	-o-animation: 1s ease 0s 1 forwards moveUpFromTop;
	-moz-animation: 1s ease 0s 1 forwards moveUpFromTop;
	animation: 1s ease 0s 1 forwards moveUpFromTop;
}

.mookie-container a:hover {
	opacity: .8;
}

.mookie {
	display: table;
	width: 100%;
}

.mookie p {
	margin: 0;
	padding: 0;
}

.mookie-column {
	display: table-cell;
	width: auto;
	box-sizing: border-box;
	vertical-align: middle;
}

.mookie-actions {
	text-align: right;
	white-space: nowrap;
	padding-left: 20px;
}

.mookie-buttons {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}

.mookie-buttons li {
	display: inline-block;
	margin-right: 7px;
}

.mookie-buttons li:last-child {
	margin-right: 0;
}

.mookie-button {
	display: inline-block;
	line-height: 1;
	padding: 12px 15px;
	box-sizing: border-box;
	font-weight: bold;
}

.mookie-button.mookie-decline {
	padding: 10px 15px;
}

.mookie-button:hover {
	opacity: 0.9;
}

.oioo-button {
	display: inline-block;
	padding: 0 10px;
	line-height: 40px;
	border-radius: 4px;
	color: white;
	margin-bottom: 10px;
}

.oioo-button:hover {
	color: white;
	opacity: 0.8;
	text-decoration: none;
}

.oioo-button.mookie-opt-out {
	color: #D8000C;
	background-color: #FFD2D2;
}

.oioo-button.mookie-opt-in {
	color: #4F8A10;
	background-color: #DFF2BF;
}

@media only screen and (max-width: 1023px) {
	.mookie {
		display: block;
	}
	.mookie-column {
		display: block;
	}
	.mookie .mookie-column {
		margin-bottom: 15px;
	}
	.mookie .mookie-column:last-child {
		margin-bottom: 0;
	}
	.mookie-actions {
		text-align: center;
		padding-left: 0;
	}
}
